carShowroom {
	display: block; 
	background: lightblue;
	padding-top: 25px; 
	text-align: center; 
	counter-reset: counter; 
}

brands::before { 
    display: block;
    content:"Available brands:";
    font-size: 40pt;
    text-align: center;
    padding: 20px;
    background-color: rgb(199, 235, 247);
}

brands brand {
    display: block;
    margin: 30px;
    margin-left: 0px;
    width: 20%;
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;
    font-size: 10pt;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 255, 98, 0.548);
    position: relative;
    left: 40%;
}

brand name{
    display: block;
	font-size: 20pt;  
}

brand country{
    display: block;
}

brand country[continent='Europe']{
    font-weight:bold;
}

brand continent{
    display: block;
}
brand  headquarters{
    display: block;
}

brand chairman::before {
    display: inline;
	font-weight: bold;
    content: 'Chairman: '; 
}
brand  chairman{
    display: block;
}


cars car {
    display: inline-block;
    list-style-type: decimal;
	font-size: 10pt;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;
    text-align: center;
    background-color: rgba(0, 255, 98, 0.548);
    position: relative;
    margin: 15px;

}
car:hover { 
    background-color: yellow;
  }

model::before{
	font-size: 18px; 
	font-weight: bold;
	content: counter(counter) '. '; 
	counter-increment: counter;
}

metadata{
    display: block;
    font-size: 10pt;
    text-align: center;
    padding: 20px;
    background-color:rgb(199, 235, 247);
}

metadata > author{
    display: list-item;
    list-style-type: circle;
	margin-left:10px;
}

metadata > modificationDate{
    font-weight:bold;
}
